
body {
  /* background-color: blue; */
  font-family: 'Arimo', sans-serif;
  color: #454545;
  background-color: #E8F1F2;
}

img {
  width: 500px;
}
 
h1, h2 {
  color: #0067b1;
}

#int {
  color: #02C39A; 
}
 
